
/* -----------------------------------------------
fontawesome Icon Link 
------------------------------------------------*/
@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@300;400;500&display=swap');

/* -----------------------------------------------
Common body style 
------------------------------------------------*/
body{
    margin: 0;
    padding: 0;
    font-family: 'Poppins', sans-serif;
    color: #18191F;
}

.container-flex{
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 110px;
}

/* -----------------------------------------------
Top Influencer Section Style
------------------------------------------------*/

.banner-titel h1{
    margin-bottom: 15px;
    font-size: 48px;
}

.banner-titel p{
    margin-bottom: 30px;
}

.link-button{
    cursor: pointer;
    display: inline;
    padding: 10px 25px;
    border-radius: 45px;
    background-color: #8267BE;
    color: white;
}

.link-button a{
    font-weight: 500;
    text-decoration: none;
    color: white;
    margin-right: 5px;
}

.banner-image img{
    min-width: 100%;
}
/* -----------------------------------------------
Sponsor-logo Section Style
------------------------------------------------*/
.sponsor-logo{
    display: flex;
    padding: 35px 100px;
    justify-content: center;
    align-items: center;
}

.sp-logo{
    background: linear-gradient(90deg, 
    rgb(192 204 218 / 13%) 0%, 
    rgb(192 204 218 / 8%) 50.38%, 
    rgb(192 204 218 / 13%) 100%);
}

.sponsor-logo img{
    padding: 20px 30px;
}

/* -----------------------------------------------
Popular Collection Section Style
------------------------------------------------*/

.popular-collection-titel h2{
    text-align: center;
    font-size: 35px;
    line-height: 70px;
}

.popular-collection{
    padding: 0 110px;
    margin-top: 30px;
}

.popular-collection-content{
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-gap: 30px;
}

.popular-collection-items {
    background-color: #FFFF;
    box-shadow: 0px 0px 40px rgba(0, 0, 0, 0.15);
    border-radius: 5px;
    padding: 30px;
}

.ps-images img{
    width: 300px;
    height: 256px;
}

.ps-titel h3{
    font-size: 25px;
    margin-bottom: 10px;
}

.ps-price{
    font-size: 22px;
    margin-top: 10px;
    font-weight: normal;
}

.icon{
    color: #FB8200;
}

.icon .range-color{
    color: #5E6366;
    font-weight: bold;
    margin-left: 10px;
}

.ps-buy-info {
    font-size: 18px;
    color: #727070;
}

section.button {
    display: flex;
    justify-content: end;
}

.ps-button {
    margin-top: 30px;
    float: right;
    cursor: pointer;
    display: inline;
    color: #8267BE;
    margin-right: 95px;
}

.ps-button a{
    font-weight: 500;
    text-decoration: none;
    color: #8267BE;
    margin-right: 5px;
}

/* -----------------------------------------------
Our Clients Section Style
------------------------------------------------*/

.our-clients{
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 30px;
    box-shadow: 0px 0px 40px rgba(0, 0, 0, 0.15);
    border-radius: 5px;
    margin-bottom: 30px;
}

.clients-area{
    margin-right: 10px;
}

.chart-images img{
   min-width: 80%;
}
.about-info {
    margin-bottom: 30px;
}

.about-info h2{
    font-size: 30px;
}

/* -----------------------------------------------
Footer Section Style
------------------------------------------------*/

.footer-info{
    background-color: #0A0826;
    text-align: center;
    color: whitesmoke;
    padding: 20px;
    font-family: sans-serif;
    padding: 30px 0;
}

.footer-icon .fab{
    font-size: 30px;
    color: white;
    margin-left: 10px;
}

/* -----------------------------------------------
Media Queries Mobile Screen
------------------------------------------------*/

@media only screen and (max-width: 767px) {
    .container-flex, .our-clients, .sponsor-logo{
        display: inline;
        text-align: center;
        max-width: 100%;
        overflow-x: hidden;
    }

    .popular-collection-content {
        display: grid;
        grid-template-columns: repeat(1, 1fr);
    
    }
    
    .chart-images img{
        max-width: 95%;
        margin-top: 20px;
     }
}
/* -----------------------------------------------
Media Queries Tab Screen
------------------------------------------------*/

@media (min-width: 768px) and (max-width: 1024px) {
    .popular-collection-content {
        display: grid;
        grid-template-columns: repeat(2, 1fr);
    
    }


    .our-clients{
        display: inline;
    }
}
    